* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e19720;
    --primary-color--light: #fad61d;
    --secondary-color: #811e09;
    --secondary-color--light: #f62d14;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.catalog__title {
    font-family: Lato, sans-serif;
    font-size: 40px;
}

.catalog__title--first {
    color: var(--primary-color);
}

.catalog__title--second {
    color: var(--secondary-color);

}

.catalog__input {
    all: unset;
    border-bottom: 3px solid var(--secondary-color--light);
    font-family: Lato, sans-serif;
    padding: 5px 15px;
    margin-top: 5px;
    cursor: auto;
    transition: 0.2s;
    width: 250px;
}

.catalog__input:focus {
    border-color: #fad61d;
}

::placeholder {
    color: black;
    font-size: 15px;
}

.catalog__content {
    display: grid;
    gap: 25px;
    padding-bottom: 80px;
}

@media (max-width: 524px) {
    .catalog__content {grid-template-columns: repeat(1, 1fr)}
}

@media (min-width: 525px) {
    .catalog__content {grid-template-columns: repeat(2, 1fr)}
}

@media (min-width: 800px) {
    .catalog__content {grid-template-columns: repeat(3, 1fr)}
}

@media (min-width: 1075px) {
    .catalog__content {grid-template-columns: repeat(4, 1fr)}
}

.catalog__main {
    display: flex;
    justify-content: center;
}

.catalog__button {
    background-color: var(--primary-color);
    color: white;
    font-family: Lato, sans-serif;
    font-size: 24px;
    padding: 20px 50px;
    border: solid 5px var(--primary-color);
    cursor: pointer;
    transition: 0.2s;
    height: 80px;
    width: 220px;
    margin-bottom: 50px;
}

.catalog__button:hover {
    background-color: white;
    color: var(--primary-color);
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__text {
    font-family: Lato, sans-serif;
}

.card__text-right {
    text-align: right;
}